
html
{
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body
{
  align-items: center;
  background-image: radial-gradient(farthest-side, rgb(30,30,30), rgb(6,6,6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ddd;
  display: flex;
  filter: invert(0.1);
  height: 100%;
  justify-content: center;
  text-align: center;
  width: 100%
}

#retrouvailles,
#noel,
#depart
{
  margin: 3%;
  width: 100%;
}

h1
{
  font-family: 'Righteous', cursive;
  font-size: 6vmin;
}

.choupinette
{
  animation: choupinette 3s ease-in-out 0s infinite alternate;
  text-shadow: 0 0 0px #666;
}

@keyframes choupinette
{
  from {text-shadow: 0 0 0px #a66;}
  to {text-shadow: 0 0 13px #a66;}
}

#oui,
#oui2
{
  color: #aaa;
  display: block;
  font-size: 5vmin;
  margin: 30px;
}

#heures
{
  align-items: center;
  display: flex;
  height: 13%;
  justify-content: space-between;
  position: fixed;
  top: 5%;
  width: 85%;
}

#jp,
#fr
{
  align-items: center;
  box-shadow: 0 0 8px #666;
  display: flex;
  height: 100%;
  justify-content: center;
}

#jp span,
#fr span
{
  color: #ccc;
  font-size: 3.2vmin;
  font-weight: bold;
  position: absolute;
  text-shadow: 0 0 13px rgb(6,6,6);
  z-index: 10;
}

#jp img,
#fr img
{
  height: 100%;
  opacity: 0.666;
}

#prog
{
  align-items: center;
  background-image: radial-gradient(farthest-side, rgba(30,30,30,1), rgba(6,6,6,0.95), rgba(6,6,6,0.7));
  box-sizing: border-box;
  display: none;
  flex-wrap: wrap;
  font-size: 2.5vmin;
  height: 100%;
  justify-content: center;
  overflow: auto;
  padding: 3%;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#prog div
{
  line-height: 1.2;
  margin: 5px;
  padding: 5px;
  text-align: left;
}

#prog .fait
{
  color: #5a1c
}

ruby
{
  font-family: 'Sawarabi Mincho', sans-serif;
}

#d
{
  align-items: center;
  bottom: 8%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}

#d100
{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 66px;
  justify-content: center;
  margin: 5px;
  transform: rotate3d(1,0,0,-90deg);
  width: 66px;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
      transform-style: preserve-3d;
  -webkit-transition: transform 2s ease-in-out;
     -moz-transition: transform 2s ease-in-out;
       -o-transition: transform 2s ease-in-out;
          transition: transform 2s ease-in-out;
}

.face
{
  align-items: center;
  background-color: rgb(0,0,0);
  border : solid 2px #6666;
  box-sizing: border-box;
  display: flex;
  font-size: 3vmin;
  height: 66px;
  justify-content: center;
  width: 66px;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
					backface-visibility: hidden;
	overflow: hidden;
  position: absolute;
	-webkit-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	   -moz-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	     -o-transition: background-color 2s ease-in-out, border 2s ease-in-out;
					transition: background-color 2s ease-in-out, border 2s ease-in-out;
}

#face1
{
  -webkit-transform: rotateX(90deg) translateZ(33px);
	   -moz-transform: rotateX(90deg) translateZ(33px);
	    -ms-transform: rotateX(90deg) translateZ(33px);
	     -o-transform: rotateX(90deg) translateZ(33px);
			    transform: rotateX(90deg) translateZ(33px);
}

#face2
{
  -webkit-transform: rotateY(180deg) translateZ(33px);
	   -moz-transform: rotateY(180deg) translateZ(33px);
	    -ms-transform: rotateY(180deg) translateZ(33px);
	     -o-transform: rotateY(180deg) translateZ(33px);
	    		transform: rotateY(180deg) translateZ(33px);
}

#face3
{
  -webkit-transform: rotateY(-90deg) translateZ(33px);
	   -moz-transform: rotateY(-90deg) translateZ(33px);
	    -ms-transform: rotateY(-90deg) translateZ(33px);
	     -o-transform: rotateY(-90deg) translateZ(33px);
			    transform: rotateY(-90deg) translateZ(33px);
}

#face4
{
  -webkit-transform: translateZ(33px);
	   -moz-transform: translateZ(33px);
	    -ms-transform: translateZ(33px);
	     -o-transform: translateZ(33px);
			    transform: translateZ(33px);
}

#face5
{
  -webkit-transform: rotateY(90deg) translateZ(33px);
	   -moz-transform: rotateY(90deg) translateZ(33px);
	    -ms-transform: rotateY(90deg) translateZ(33px);
	     -o-transform: rotateY(90deg) translateZ(33px);
			    transform: rotateY(90deg) translateZ(33px);
}

#face6
{
  -webkit-transform: rotateX(-90deg) translateZ(33px);
	   -moz-transform: rotateX(-90deg) translateZ(33px);
	    -ms-transform: rotateX(-90deg) translateZ(33px);
	     -o-transform: rotateX(-90deg) translateZ(33px);
			    transform: rotateX(-90deg) translateZ(33px);
}

#lancer
{
  box-shadow: 0 0 5px #666;
  cursor: pointer;
  font-size: 3.2vmin;
  margin: 20px 0 0;
  padding: 7px 13px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none  /* Non-prefixed version, currently supported by Chrome and Opera */
}

#lancer:hover
{
  background-color: #1119;
  box-shadow: 0 0 8px #666;
}

#scene
{
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -10;
}
